
img{
    
        display:block;
        margin:auto;
        
        width: 30%;
        height: 300px;
        border: 5px solid rgb(228, 255, 255);
    
    
}
header{
    margin: auto;
  width: 740px; 
  padding: 60px;
    background-color: rgb(255, 190, 49);
    font-family: fantasy;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p.fant{
    font-family: fantasy;
}

nav{
    background-color: rgb(255, 11, 174);
    text-align:left;
}
h3{
    font-family: fantasy;
    text-align: center;
}
p.oblique{
    font-style: oblique;
}
h2{
    text-shadow:7px 4px 5px rgb(0, 0, 0);
}

p{
 text-align: center;   
}
section{
    margin: auto;
  width: 740px; 
  padding: 60px;
  
  color: #ffffff;   
}
body{
    background-color: rgb(69, 192, 67);
}
main{
    margin: auto;
    width: 740px; 
    padding: 60px;
    background-color: aquamarine;
}


